.portfolio {
    padding: 95px 0;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.portfolio-list-item {
    width: 370px;
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    img {
        margin: 0 auto;
        width: 100%;
    }

    a:hover,
    a:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        display: block;
        text-decoration: none;
    }

    &__overlay {
        position: relative;
        overflow: hidden;
    }

    &__thumb {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 63px 24px;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.55;
        background-color: var(--ws-blue);
        opacity: 0.9;
        color: var(--ws-white);
        transform: translateY(101%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

        .portfolio-list-item a:hover &,
        .portfolio-list-item a:focus & {
            transform: translateY(0);
        }
    }

    &__wrapper {
        border-left: 1px solid var(--ws-border-line);
        border-right: 1px solid var(--ws-border-line);
        border-bottom: 1px solid var(--ws-border-line);
        padding: 20px 24px;

        h2 {
            margin-bottom: 4px;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 2;
            letter-spacing: 0.06em;
            color: var(--ws-darkgrey);
        }

        p {
            font-size: 16px;
            line-height: 1.8;
            letter-spacing: 0.03em;
            color: var(--ws-grey);

        }
    }
}


@media (max-width: 767px) {
    .portfolio-list {
        flex-direction: column;
    }

    .portfolio-list-item {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {

    .portfolio-list-item {
        flex-basis: calc((100% - 30px) / 2);
    }
}
