:root {
    --ws-blue:          #2196F3;
    --ws-grey:          #757575;
    --ws-darkgrey:      #212121;
    --ws-lightgrey:     #F5F4FA;
    --ws-black:         #000000;
    --ws-white:         #FFF;
    --ws-section-bg-dark:#2F303A;
    --ws-border-line:   #EEEEEE;
    --ws-bottom-line:   #ECECEC;
    --ws-button-hover:  #188CE8;
    --ws-social-link:   #AFB1B8;
    --ws-font-raleway:  'Raleway', sans-serif;
    --ws-font-roboto:   'Roboto', sans-serif;
}